
Source: konstruktor
Section: graphics
Priority: optional
Maintainer: Park Joon-Kyu <mastermind@planetmono.org>
Build-Depends: debhelper (>= 7.0.50~),
  cmake,
  libglu1-mesa-dev,
  libqt4-dev,
  libqt4-opengl-dev,
  libsqlite3-dev
Standards-Version: 3.9.1
Homepage: http://konstruktor.influx.kr
Vcs-Git: git://github.com/segfault87/Konstruktor.git
Vcs-Browser: http://github.com/segfault87/Konstruktor

Package: konstruktor
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
  oxygen-icon-theme
Suggests: povray
Description: A Virtual LEGO(r) modeling tool based on LDraw.
 Konstruktor is a virtual LEGO(r) CAD for Linux, Windows and Mac OS X.
 For more information, visit the homepage.
