[Desktop Entry]
Name=Konstruktor
Name[cs]=Konstruktor
Name[de]=Konstruktor
Name[el]=Konstruktor
Name[en_GB]=Konstruktor
Name[es]=Konstruktor
Name[et]=Konstruktor
Name[fr]=Konstruktor
Name[ga]=Konstruktor
Name[gl]=Konstruktor
Name[hne]=क्लोट्ज
Name[it]=Konstruktor
Name[km]=Konstruktor
Name[nds]=Konstruktor
Name[nl]=Konstruktor
Name[pt]=Konstruktor
Name[pt_BR]=Konstruktor
Name[sv]=Konstruktor
Name[tr]=Konstruktor
Name[uk]=Konstruktor
Name[x-test]=xxKonstruktorxx
Exec=konstruktor %u -caption "%c" %i
GenericName=LDraw modeler
GenericName[el]=Μοντελοποιητής LDraw
GenericName[en_GB]=LDraw modeler
GenericName[es]=Modelador LDraw
GenericName[et]=LDraw modelleerija
GenericName[fr]=Modeleur LDraw
GenericName[ga]=Samhaltóir LDraw
GenericName[gl]=Modelador de LDraw
GenericName[it]=Modellatore LDraw
GenericName[km]=កម្មវិធី​ធ្វើគំរូ LDraw
GenericName[nds]=LDraw-Modellmaker
GenericName[nl]=LDraw-modeler
GenericName[pt]=Modelador do LDraw
GenericName[pt_BR]=Modelador LDraw
GenericName[sv]=Ldraw-modellering
GenericName[tr]=LDraw Modelleyici
GenericName[uk]=Засіб моделювання LDraw
GenericName[x-test]=xxLDraw modelerxx
Comment=An interactive LDraw model designer for KDE 4
Comment[el]=Ένας σχεδιαστής μοντέλου LDraw για το KDE 4
Comment[en_GB]=An interactive LDraw model designer for KDE 4
Comment[es]=Un diseñador interactivo de modelado LDraw para KDE 4
Comment[et]=KDE4 interaktiivne LDraw mudeli kujundaja
Comment[fr]=Un concepteur interactif de modèle LDraw pour KDE4
Comment[gl]=Un deseñador interactivo de modelos de LDraw para KDE 4
Comment[it]=Progettatore interattivo di modelli LDraw per KDE 4
Comment[km]=អ្នក​រចនា​គំរូ​ LDraw អន្តរសកម្ម​សម្រាប់ KDE 4
Comment[nds]=En LDraw-Modellmaker för KDE 4
Comment[nl]=Een interactieve LDraw modelontwerper voor KDE 4
Comment[pt]=Um desenhador de modelos do LDraw interactivo para o KDE 4
Comment[sv]=Interaktiv Ldraw-modellkonstruktion för KDE 4
Comment[tr]=KDE 4 için interaktif bir LDraw model tasarımcısı
Comment[uk]=Інтерактивний інструмент для розробки моделей LDraw у KDE 4
Comment[x-test]=xxAn interactive LDraw model designer for KDE 4xx
Categories=Qt;KDE;Graphics;
Icon=konstruktor
MimeType=application/x-ldraw;application/x-multi-part-ldraw;
Terminal=false
Type=Application
